__pycache__/
*.pyc
venv
/client/node_modules
/server/node_modules
/server/__pycache__/
/server/*.pyc
/server/.env
/server/Config

server/node-api/node_modules
server/node-api/.env
server/node-api/Config

server/python-api/venv
server/python-api/__pycache__
/server/Config

.docker/
npm-debug.log*
yarn-debug.log*